@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;

}

html {
    /*Me permite deslizar cuando hago clic en los links del menu*/
    scroll-behavior: smooth;
    

}

/*MENU*/
.contenedor-header {
    /* background-image:url("/img/header.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; */
    background: #1f2326;
    position: fixed;
    width: 100%;

    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #f09ab4;
    text-decoration: none;

}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fdf8fb;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    white-space: nowrap;
}

.contenedor-header header nav ul li a:hover {
    color: rgb(235, 118, 186);
}

.nav-responsive {
    background-color: rgb(235, 118, 186);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;

}

/*SECCION INICIO*/
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(/img/header.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {

    padding: 20px;
    background-color: #1e2326a1;
    max-width: 350px;
    margin: auto;
    margin: 300px auto 0;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-img {
    margin-top: 40px;
  
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 100%;
    

}

.imag {
    border: 10px solid rgba(247, 50, 165, 0.253);
    width: 100%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    line-height: 42px;
    margin: 40px;
    font-size: 20px;
    transition: 0.3s;
}

.inicio .contenido-banner .redes a:hover {
    color: rgb(235, 118, 186);
}

.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 180px 20px;

}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font: 16px;
    line-height: 28px;
    margin-bottom: 20px;
    font-weight: normal;

}

.sobremi .contenido-seccion p span {
    color: #f09ab4;
    font-weight: bold;

}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #f09ab4;
    width: 130px;
}

.sobremi .fila .col ul li {
    list-style: none;
    line-height: 28px;
}

.sobremi .fila .col ul li span {
    background-color: #f09ab4;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;

}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #334047a1;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;

}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #f09ab4;
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;

}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f09ab4;
    z-index: -1;
    transition: 1s;


}

.sobremi button:hover .overlay {
    width: 100%;
}

/*Seccion Skills*/


.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 180px 20px;

}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;

}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill>span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #181214;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: #f09ab4;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #f09ab4;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;

}

/*Estas clases se agregaran dinamicamente mediante javascript*/


.skills .skill .htmlcss {
    width: 0%;
    animation: 2s html forwards;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}
.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}




.skills .skill .mern {
    width: 0%;
    animation: 2s react forwards;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}



.skills .skill .c {
    width: 0%;
    animation: 2s c forwards;
}

@keyframes c {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skills .skill .vb {
    width: 0%;
    animation: 2s vb forwards;
}

@keyframes vb {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.skills .skill .asp {
    width: 0%;
    animation: 2s asp forwards;
}

@keyframes asp {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}



.skills .skill .php {
    width: 0%;
    animation: 2s php forwards;
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

.skills .skill .mysql {
    width: 0%;
    animation: 2s mysql forwards;
}

@keyframes mysql {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}


.skills .skill .sql {
    width: 0%;
    animation: 2s sql forwards;
}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skills .skill .git {
    width: 0%;
    animation: 2s mongo forwards;
}

@keyframes mongo {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skills .skill .puntualidad {
    width: 0%;
    animation: 2s puntualidad forwards;
}

@keyframes puntualidad {
    0% {
        width: 0%;
    }

    100% {
        width: 99%;
    }
}

.skills .skill .trabajo {
    width: 0%;
    animation: 2s trabajo forwards;
}

@keyframes trabajo {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skills .skill .paciencia {
    width: 0%;
    animation: 2s paciencia forwards;
}

@keyframes paciencia {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skills .skill .responsabilidad {
    width: 0%;
    animation: 2s responsabilidad forwards;
}

@keyframes responsabilidad {
    0% {
        width: 0%;
    }

    100% {
        width: 98%;
    }
}

.skills .skill .resolucion {
    width: 0%;
    animation: 2s resolucion forwards;
}

@keyframes resolucion {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .adaptacion {
    width: 0%;
    animation: 2s adaptacion forwards;
}

@keyframes adaptacion {
    0% {
        width: 0%;
    }

    100% {
        width: 98%;
    }
}

/*Seccion Curriculum*/


.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 180px 20px;

}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;

}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;

}

.curriculum .fila .izquierda {
    border-right: 2px solid #252a2e;

}

.curriculum .fila .derecha {
    border-left: 2px solid #252a2e;

}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252a2e;
    position: relative;
}

.curriculum .fila .item h4 {
    color: #f3eef0;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #f09ab4;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    display: block;
    color: #f09ab4;
    margin-bottom: 10px;
    font-weight: bold;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid #f09ab4;
    margin-right: 20px;

}

.curriculum .fila .der {
    border-left: 2px solid #f09ab4;
    margin-left: 20px;

}

.curriculum .fila .conectori {
    height: 2px;
    background-color: #f09ab4;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f09ab4;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .conectord {
    height: 2px;
    background-color: #f09ab4;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f09ab4;
    float: left;
    position: relative;
    bottom: 4px;
}

/* Seccion Portafolio*/
.portfolio {
    background-color: #252a2e;
    color: #fff;
    padding: 180px 20px;

}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
   position: relative;
   max-width: 340px;
   height: fit-content;
   margin: 10px;
   cursor: pointer; 
}
.portfolio .galeria .proyecto img{
width: 100%;
height: 200px;
display: block;
}
.portfolio .galeria .proyecto p{
    font-size: 12px;
    }

.portfolio .galeria .proyecto .overlay{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(185, 109, 156, 0.8),rgba(226, 144, 215, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;


}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 0.5s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;

}

#videoContainer1 {
    display: none;
  }

  #videoContainer1 iframe {
    width: 100%;
    height: 100%;
  }

  #volverButton1 {
    display: none;
    cursor: pointer;
  }
/*Seccion Contacto*/
.contacto{
    background-image:url(img/contact_bg.jpg);
    background-size: cover;
    background-color: #1e2326;
    color: #fff;
    padding: 180px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0; 
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;  
}
.contacto button .overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f09ab4;
    z-index: -1;
    transition: 1s;

}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color:#f09ab4;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 30px 0;
    text-align: center;
    position: relative;
    width: 100%;

}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    line-height: 42px;
    margin: 40px;
    font-size: 20px;
    transition: 0.3s;

}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #f09ab4;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/*GALERIA*/
/* Estilos para la galería */
.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:30px;
}
.gallery img{
    width: 100%;
}

  /* Estilos para el modal */

/*SECCION RESPONSIVE*/
@media screen and (max-width:1045px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom:1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display:block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .skills .fila{
        display:block;
    }
    .skils .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
    .curriculum .fila{
        display: block;
    
    }
    .curriculum .fila .col{
        width: 90%;

    }
    .curriculum .fila .derecha{
        margin-left:20px;
    }
    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria ,.proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto .img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }

}



.container{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:30px;
}
.gallery img{
    width: 100%;
}